<!doctype html>
<html >
    <head>
        <title>Layout di base: liquido a 3 colonne con TABLE</title>	
        <link rel="stylesheet" href="iw_examples.css" type="text/css"/>
		<link rel="stylesheet" href="layouts.css" type="text/css"/>
        <meta charset="utf-8"/>
		
	</head>
	<body>
	
		<table border="0" width="100%" cellspacing="0" cellpadding="0">
		<tr><td class="header" colspan="3">Header</td></tr>
		<tr><td class="left" width="10%">
		Left
		</td>
		<td class="body">
		
		<p>Body</p>
		<p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>
		<p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>
		<p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>
		
		</td>
		<td class="right" width="10%">
		Right
		</td></tr>
		<tr><td class="footer" colspan="3">Footer</td></tr>
		</table>
		
	</body>
</html>
