<!doctype html>
<html >
    <head>

        <title>Layout di base: liquido a 2 colonne con DIV posizionate</title>		
        <link rel="stylesheet" href="iw_examples.css" type="text/css"/>
		<link rel="stylesheet" href="layouts.css" type="text/css"/>
        <meta charset="utf-8"/>
		
		<style type="text/css">
			body,html {
				position:relative;
			}
			
	
			.body {
				margin-left: 90px;
				overflow:hidden;
			}
			
			.header {
				height: 50px;
			}
			
			.left {
				position:absolute; 
				top:50px; 
				left:0; 
				bottom:30px;				
				z-index: 10;
				width: 90px;
			}

			.footer {
				height: 30px;
			}		
		</style>
	</head>
	<body>
	
		
		<div class="header">Header</div>
		<div class="left">
		<p>Left</p>
		<p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>
		</div>
		<div class="body">
		
		<p>Body</p>
		<p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>
		<p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>
		<p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>
		
		</div>
		<div class="footer">Footer</div>
		
		
	</body>
</html>