<!doctype html>
<html >
    <head>
        <title>Layout di base: liquido a 1 colonna con DIV</title>		
        <link rel="stylesheet" href="iw_examples.css" type="text/css"/>
		<link rel="stylesheet" href="layouts.css" type="text/css"/>
        <meta charset="utf-8"/>
		
<style type="text/css">
				
		.header {
			overflow:hidden;
			height: 50px;
		}
		
		.footer {
			height: 30px;
			overflow:hidden;
		}

		.body {			
			overflow:hidden;
		}
				
		</style>
	</head>
	<body>
	
		
		<div class="header">Header</div>
		<div class="body">
		
		<p>Body</p>
		<p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>
		<p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>
		<p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p><p>a</p>
		
		</div>
		<div class="footer">Footer</div>
		
		
	</body>
</html>